*{
    padding: 0;
    margin: 0;
    margin-top: 0px;
    background-color: black;
}

@font-face {
    font-family: exo2;
    src: url('/Fonts/exo-2/Exo2-ExtraBold.otf');
  }


canvas{
    background: rgb(112, 107, 107);
    /* background-image: url(/images/background.gif); */
    display: block;
    margin: 0 auto;
    border: 2px solid red;
    border-bottom: none;
}

#canvasScore    {
    border: 2px solid blue;
}

.main{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
}

#big-canvas{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
}

#canvas{
    padding-bottom: 5px;
}

#button{
    display: flex;
    align-items: center;
    justify-content: center;
}
