*{
    padding: 0;
    margin: 0;
    margin-top: 0px;
    background-color: rgb(35, 38, 46);
    font-family: exo2;
}

@font-face {
    font-family: exo2;
    src: url('/Fonts/exo-2/Exo2-ExtraBold.otf');
  }


canvas{
    background: rgb(35, 38, 46);
    opacity: 1;
    display: block;
    margin: 0 auto;
    /* border: 2px solid red; */
    border-bottom: none;
}

#canvas{
    padding-bottom: 5px;
    background-image: url(/images/background.gif);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}

#canvasScore    {
    /* border: 2px solid blue; */
}

.main{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
}

#big-canvas{
    /* display: flex; */
    flex-direction: column;
    display: none;     /*HEREEEEEEE*/
}


#button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button1{
    font-family: 'Fascinate Inline', cursive;
    font-size: 4vmin;
    appearance: none;
    background: linear-gradient(to bottom, rgb(116, 128, 196), rgb(57, 171, 206));
    border: none;
    color: #FFF;
    border-radius: 2em;
    padding: .6em 1.5em;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
    z-index: 1;
    box-shadow: 0 0 1em rgba(white, .2);
    transition: transform .1s cubic-bezier(.5, 0, .5, 1),
      box-shadow .2s;
}

#main-text{
    color: white;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 340px;
}

h1{
    font-size: 50px;
}
.instructions{
    display: flex;
    flex-direction: row;
    padding: 70px 10px;
}
.arrow img{
    height: 100px;
}

.mouse img{
    height: 100px;
}

#main-text div{
    border: 1px solid red ;
}
